@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  font-family: Raleway;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: #212171;
}

body::before{
  /* bg image from https://www.toptal.com/designers/subtlepatterns/greek-vase-pattern/ */
  background-image: url("./assets/greek-vase.jpg");
  position: fixed;
  content: "";
  inset: 0;
  opacity: 0.4;
  z-index: -1;
}

a {
  color: #4949b4;
}

a:hover {
  color: #aa16a5;
  font-style: italic;
}

.page {
  background-color: rgba(73, 73, 180, 0.3);
  padding: 30px;
  border-radius: 10px;
}

.app-nav {
  margin-bottom: 50px;
}

.app-nav a {
  color: #212171;
  text-decoration: none;
  background-color: #b7b7e8;
  border: 3px solid #4949b4;
  border-radius: 10px;
  padding: 10px;
}

.app-nav a:hover {
  color: #b7b7e8;
  font-style: normal;
  background-color: #4949b4;
  border-color: #b7b7e8;
}

.time-blocks {
  width: 40%;
  display: inline-block;
  background-color: #b7b7e8;
  border: 3px solid #4949b4;
  border-radius: 10px;
  font-size: 1.5em;
  margin: 15px;
}

@media only screen and (max-width: 768px) {
  [class="time-blocks"] {
    width: 90%;
  }
}

.time-blocks a {
  font-size: 0.8em;  
  color: #4949b4;
  text-decoration: none;
}

.time-blocks a:hover {
  color: #212171;
  font-style: normal;
}

.color-block {
  display: inline-block;
  width: 5vw;
  height: 3vh;
  margin: 0 15px;
}

.time-button {
  color: #b7b7e8;
  font-family: Raleway;
  font-size: 0.3em;
  background-color: #212171;
  border: 2px solid #4949b4;
  border-radius: 10px;
  padding: 0 8px;
  margin-left: 20px;
}

.time-button:hover {
  color: #b7b7e8;
  background-color: #4949b4;
  border-color: #212171;
}

.poke-pic {
  vertical-align: middle;
  width: 25%;
}

.header-footer {
  background-color: #b7b7e8;
  border: 3px solid #4949b4;
  border-radius: 10px;
  margin: 50px;
  padding: 10px;
}

.tiny {
  font-size: 0.7em;
  font-style: italic;
}